@import "../../../../../styles.scss";
@import "../../../../../assets/styles/keyframes.scss";

:host {
  padding: 0px 10px;
}

mat-card {
  animation: roll-in $duration * 3 $duration $easeOutBack forwards;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
}
mat-card-content {
  padding-left: 3.75em;
  margin: -1.25em 0em 0em;
}
mat-card-actions {
  position: absolute;
  right: 1em;
  top: 0em;

  button {
    margin-left: 0.33em;
  }
}
mat-chip {
  margin: 0.66em 0px 0px;
  font-size: 0.875em;
  min-height: 1.5em;
  padding: 0.5em;
}
