@import "../../../styles.scss";

:host {
  width: 100%;
}

a {
  text-decoration: none;
  color: $red;
}

img {
  max-width: 100%;
  height: auto;

  margin-top: 3.75em;
}

span {
  text-align: center;
}
