@import "../../../../styles.scss";
@import "../../../../assets/styles/keyframes.scss";
@import "../../../../assets/styles/underline-drop.scss";

mat-toolbar {
  background: $red;
  color: $white;
}

.header-title {
  animation: roll-in $duration * 3 $duration * 2 $easeOutBack forwards;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
  cursor: pointer;
  opacity: 0;

  font-family: pacifico;
  font-size: 1.6em;
}

button {
  position: relative;
  color: $white;
  &:not(:first-of-type) {
    margin-left: 0.33em;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {
  .header-title {
    font-size: 0.8em;
  }
  button {
    padding: 0 4px;
    margin: 0px;
  }
}
