@import "../../../styles.scss";

:host {
  width: 100%;
}

p {
  text-align: justify;
  margin-bottom: 1em;

  &:nth-of-type(1):first-letter {
    float: left;
    color: $red;
    font-size: 6em;
    line-height: 80%;
    padding-top: 0.05em;
    padding-right: 0.3em;
    font-family: pacifico;
    font-weight: 800;
    text-transform: uppercase;
  }
}

button {
  font-family: pacifico;

  font-size: 1.75em;
  margin: 1em;
}
